BasedOnStyle: Google

IndentWidth: 2
ContinuationIndentWidth: 4

IndentAccessModifiers: true
AccessModifierOffset: 0

PointerAlignment: Left
ReferenceAlignment: Left

# AllowShortFunctionsOnASingleLine: Never

ColumnLimit: 100

NamespaceIndentation: All
