BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 4

AllowShortFunctionsOnASingleLine: Never

AlignConsecutiveMacros: false
IndentPPDirectives: AfterHash
PPIndentWidth: 4

NamespaceIndentation: All

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: true
  AfterControlStatement: true
  BeforeElse: true
  BeforeCatch: true

IndentAccessModifiers: true
AccessModifierOffset: 2

PointerAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 100



