name: Build Arcadia2D

on:
  push:
  pull_request:
    branches: [ "main"]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache CMake dependencies
        uses: actions/cache@v4
        with:
          path: |
            build/_deps
          key: ${{ runner.os }}-cmake-deps-${{ hashFiles('**/CMakeLists.txt') }}
          restore-keys: |
            ${{ runner.os }}-cmake-deps-

      - name: Configure (Debug)
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug

      - name: Build (Debug)
        run: cmake --build build --config Debug
